<h1>List of Movies<h1>
  <ul>
    <% @lists.each do |l| %>
    <li><%= link_to l.name, list_path(l.id) %></p></li>
    <% end %>
  </ul>

<%= link_to "Add new list", new_list_path, class: "btn btn-success" %>
